extends layout.pug
block body
  form(method='POST' action='/addPost')
    .form-group
      input.form-control.form-control-lg(name="title", type='text', placeholder='Title')
      |
      textarea.form-control.form-control-lg(name='body', placeholder='Body')
    button.btn.btn-primary(type='submit') Add