extends layout.pug

block body
  #home
    if user != undefined
      p= "Ciao " + user.email
      a(href="/logout") logout
    else
      p
        button.btn.btn-primary(type='button' data-toggle='collapse' data-target='#login' aria-expanded='false' aria-controls='login')
          | Login
        button.btn.btn-primary(type='button')
          a(href="/registration") Signup
      #login.collapse
        .card.card-body
          form(method='POST' action='/login')
            input(type='text', name="email", placeholder="email")
            input(type='password', name="pass", placeholder="password")
            button.btn.btn-primary(type='submit') Login
  ul
    each post in posts
        hr
        h3= post.title
        p= post.body
        p
          em= post.author
        if user != undefined && user.email == post.author
          a(href="/modpost/" + post.id) ↪️
          a(href="/delete/" + post.id) ❌
  if error
    .alert.alert-primary(role='alert') Error
    button.close(type='button' data-dismiss='alert' aria-label='Close')
      span(aria-hidden='true') &times;