extends layout.pug

block body
  #home
  ul
    each post in posts
        hr
        h3= post.title
        p= post.body
        p
          em= post.author
        if user != undefined && user.email == post.author
          a(href="/modpost/" + post.id) ↪️
          a(href="/delete/" + post.id) ❌
  if error
    .alert.alert-primary(role='alert') Error
    button.close(type='button' data-dismiss='alert' aria-label='Close')
      span(aria-hidden='true') &times;