extends layout.pug

block body
  #home
    ul.posts
      each post in posts
        li.post
          .post_head
            h3.title= post.title
            if user != undefined && user.email == post.author
              .icons
                a(data-idnum=post.id, href="/modpost/" + post.id) ↪️
                a(href="/delete/" + post.id) ❌
          p.body= post.body
          p.auth
            em= post.author

block append scripts
  script(src="/home.js")