extends layout.pug

block body
	#home
		if user != undefined
			p= "Ciao " + user.email
			a(href="/logout") logout
		else
			a(href="/login") login
			br
			a(href="/registration") signup

	ul
		each post in posts
				hr
				h3= post.title
				p= post.body
				p
					em= post.author
				if user != undefined && user.email == post.author
					a(href="/modpost/" + post.id) ↪️
					a(href="/delete/" + post.id) ❌