doctype html
html(lang="en")
	head
		block head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport",content="width=device-width, initial-scale=1")
			meta(name="description",content="")
			meta(name="author",content="")
			link(rel="icon",href="../../favicon.ico")
			title= title
			block styles
				// Bootstrap CSS
				link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
				link(rel="stylesheet",href="style.css")
	body(data-spy="scroll",data-target=".scrollspy")
		block nav
			nav.navbar.navbar-inverse
				.container-fluid
					.navbar-header
						a.navbar-brand(href='/') Fake Micro Blogging
					ul.nav.navbar-nav
						li
							a(href='/addPost') Add post
					ul.nav.navbar-nav.navbar-right
						if user != undefined
							li
								a(href='/profile')= user.nickname
							li
								a(href='/logout')
									span.glyphicon.glyphicon-user
									|  Logout
						else
							li
								a(href='/login')
									span.glyphicon.glyphicon-log-in
									|  Login
		.container
			block body
		block scripts
			// Optional JavaScript
			// jQuery first, then Popper.js, then Bootstrap JS
			script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
			script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')