extends layout.pug
block body
  if user != undefined
    h1= "Profilo di " + user.nickname + ", " + user.email
    .posts
      each post in posts
        .post__header
          h3= post.title
          a.badge.badge-primary(href="/modpost/" + post.id) Mod
          a.badge.badge-primary(href="/delete/" + post.id) Delete
        .post__body
          p= post.body
